
<body class="col-lg-9 col-12 mx-auto">
    <div class="card card-body mt-4">
        <div class="table-responsive">
            <table class="table align-items-center mb-0">
    
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <a class="d-flex px-2" [routerLink]="['editar-projetos']">
                                    <div>
                                        <!-- adicionar icone -->
                                    </div>
                                    <div class="my-auto">
                                        <h2 class="mb-0 text-xs">Editar Projetos</h2>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <a class="d-flex px-2" [routerLink]="['editar-cateforias']">
                                    <div>
                                        <!-- adicionar icone -->
                                    </div>
                                    <div class="my-auto">
                                        <h2 class="mb-0 text-xs">Editar Categorias</h2>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
    
            </table>
        </div>
    </div>
</body>