

<body class="g-sidenav-show   bg-gray-100">
    <main class="main-content position-relative border-radius-lg ">
        <app-header></app-header>
        <div class="card card-body mt-4">
            <div class="row mt-4">
                <form [formGroup]="form">
                    <div class="form-group">
                        <label for="example-search-input" class="form-control-label">&nbsp;</label>
                        <select class="form-control" (change)="salvarProjetoSelecionado()"
                        formControlName="projetos">
                            @for (opcao of projetos(); track opcao) {
                            <option [value]="opcao.projeto">{{ opcao.projeto }}</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <p class="row mt-4">
                <button class="btn btn-primary" style="height: 3rem;" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Adicionar Trancação
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="row">
                    <div class="col-6">
                        <button type="button" name="button" class=" btn bg-gradient-primary col-12"
                            [routerLink]="['adicionar-despesa']">Despesa</button>
                    </div>
                    <div class="col-6">
                        <button type="button" name="button" class="btn btn-light col-12"
                            [routerLink]="['adicionar-renda']">Renda</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-body mt-4">
            <div class="divmaeresultado">
                <div class="divResultadoTitulos">
                    <!-- <div>Saldo inicial:</div> -->
                    <div>Renda:</div>
                    <div>Despesa:</div>
                    <div>Saldo final:</div>

                </div>
                <div class="divResultadoValor">
                    <!-- <div>{{ transacoes()?.saldo?.toFixed(2) }}</div> -->
                    <div>{{ transacoes()?.totalEntrada?.toFixed(2) }}</div>
                    <div>{{ transacoes()?.totalSaida?.toFixed(2) }}</div>
                    <div>{{ transacoes()?.saldo?.toFixed(2) }}</div>
                </div>
            </div>
        </div>
    </main>
</body>