<body>
    <header>
        <h3 [routerLink]="''">< Projetos</h3>
    </header>
    <main>
        <div class="novoProjeto">
            <p (click)="chamarModalNovoProjeto(0)">+ Novo Projeto</p>
        </div>
        <!--lista dinamica de projetos com nome e saldo inicial-->
        <div class="detalhesProjetos" *ngFor="let i of listaProjetos" (click)="chamarModalEdicao(i)">
            <div><p>></p></div>
            <div class="nomeProjeto"><p>{{ i.nome }}</p></div>
            <div class="saldoProjeto"><p>{{ i.calcularSaldoAtual() }}</p></div>
        </div>
        <!--Modal para selecionar, atualizar e excluir projetos-->
        <div *ngIf="isModalEdicao" (click)="desfazerModalEdicao()" class="janelasModal">
            <div class="modalEdicao">
                <div class="divsModalEdicao" (click)="selecionar()"><p>Selecionar</p></div>
                <div class="divsModalEdicao" (click)="chamarModalNovoProjeto(1)"><p>Atualizar</p></div>
                <div class="divsModalEdicao" (click)="excluir()"><p>Excluir</p></div>
            </div>
        </div>
        <!--Moda para criar novos projetos-->
        <div *ngIf="isModalNovoProjeto" class="janelasModal">            
            <div class="modalNovoProjeto">
                <h3>{{ modalCriarOuAtualizarProjeto }}</h3>
                <form [formGroup]="novoProjetoForm" (ngSubmit)="criarNovoProjetoOuAtualizar(modalCriarOuAtualizarProjeto)">
                    <p>Nome do projeto:</p>
                    <input type="text" formControlName="nomeProjeto">
                    <p>Saldo inicial:</p>
                    <input type="number" formControlName="saldoInicial">
                    <div class="divsButton">
                        <button type="button" (click)="desfazerModalNovoProjeto()">Cancelar</button>
                        <button type="submit">Concluir</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
