<body>
    <header>
        <h3 [routerLink]="''">< Lista</h3>
    </header>
    <main>
        <div class="projetoSelecionado">
            <div>{{ projetoSelecionado }}</div>            
            <select (change)="categoriaEscolhida()" [(ngModel)]="opcaoSelecionada">
                <option *ngFor="let i of seletor">{{ i }}</option>
            </select>            
        </div>
        <div class="trasacoes" *ngFor="let i of categoriaEscolhida()">
            <div class="categoriaDescricao">
                <p>{{ i.categoria }}</p>
                <p>{{ i.descricao }}</p>
            </div>
            <div class="valorDataHora">
                <div>
                    <p>{{ i.data }} - {{ i.hora }}</p>
                </div>
                <div>
                    <p>{{ i.valor }}</p>
                </div>
            </div>
        </div>
    </main>
</body>
